<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Blog
  </h2>
  <form class="edit-blog-form">
    <div>
      <label for="blog-title">Blog Title</label>
      <input name="blog-title" type="text" value="{{blog.title}}" />
      <textarea rows="15" cols="102" wrap="hard" name="blog-body">{{blog.blog_text}}</textarea>
    </div>
    <div>
      <a href="/blog/{{blog.id}}"></a>
    </div>
    <button type="submit">Save blog</button>
    <button type="button" class="delete-blog-btn">Delete blog</button>
  </form>
</article>

<div class="comments-div">
  <h2>Comments: </h2>
{{> comments blog.comments}}
</div>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>