{{> blog-info blog}}

<div class="comments-div">
  <h2>Comments: </h2>
{{> comments blog.comments}}
</div>

{{#if loggedIn}}
<div id="comment-form-container">
<form class="comment-form">
  <div id="comment-text-div">
    <textarea class="comment-textarea" rows="15" cols="102" wrap="hard" name="comment-body" placeholder="Leave a comment..."></textarea>
  </div>

  <div>
    <button id="comment-button" type="submit">add comment</button>
  </div>
</form>
</div>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}