header {
  background: #352315;
  color: #c9f5d9;
}

header nav {
  padding-left: 10px;
}

header h1 {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
}

.Nav-link {
  color: #c9f5d9;
  text-decoration: none;
  margin: 2px;
}

.Nav-link:hover, #logout:hover {
  color: rgb(224, 245, 35);
  text-decoration: underline;
  cursor: pointer;
}


#logout {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}

body {
background: #c9f5d9;
color: #333515;
margin: 0;
padding: 0;
display: flex;
min-height: 100vh;
flex-direction: column;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #c9f5d9;
  border: solid;
  border-color: #352315;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.blog-buttons {
  margin: 10px;
}

.blog-title {
  background-color: #352315;
  color: #c9f5d9;
  text-align: left;
  width: auto;
  margin: 0;
}

.blog-text {
  color: #352315;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
}

.comments-div, .comment {
  border: solid;
  border-color: #352315;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.comments-div h2 {
  margin-top: 0;
}

.comment-form {
  margin: 5px;
}

.comment-textarea {
  border: solid;
  border-color: #352315;
  border-radius: 5px;
}


#comment-text-div, #comment-button {
  float: right;
}